/* You can add global styles to this file, and also import other style files */
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f6f6fa 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 10px;
}
